@model pg4_Company.ViewModels.OrderDetailViewModel;

<form class="form-horizontal" role="form" action="@Url.Action("SpgatewayPayBill", "Home")" method="POST">
    <div class="row">
        <!--
    <div class="col-md-12 md-block">
            <label>訂單編號</label>
            <input type="text"
                   class="form-control"
                   required="required"
                   name="orderNumber"
                   maxlength="20">
    </div>
        -->

        <div id="orderlistPanel">
            <h1>訂單詳情</h1>
            <div>訂單編號: @Model.OrderId</div>
            <div>收件人姓名: @Model.fReceiver</div>
            <div>收件人地址: @Model.fAddress</div>
            <div>連絡電話: @Model.fPhone</div>
            <div>連絡信箱: @Model.fEmail</div>
            <div>訂單詳情: </div>
            <table>
                <tr>
                    <td>商品名稱</td>
                    <td>商品數量</td>
                    <td>小計</td>
                </tr>
                @{ 
                    int i = 0;
                    for (i = 0; i < Model.ProductIds.Count(); i++)
                    {
                        <tr>@Model.ProductNames[i]</tr>
                        <tr>@Model.Qtys[i]</tr>
                        <tr>(@Model.ProductPrices[i] * @Model.Qtys[i])</tr>
                    }
                }
            </table>
            <div>
                <button>去付款</button>
            </div>
        </div>

        <div class="col-md-12 md-block">
            <label>訂單金額</label>
            <input type="text"
                   class="form-control"
                   required="required"
                   name="amount"
                   value="@Model.Amount"
                   readonly>
        </div>
        <div class="col-md-12">
            <label>請款類型</label>
            <select name="payType">
                <option value="CREDIT">信用卡</option>
                <option value="WEBATM">WEBATM</option>
                <option value="VACC">ATM 轉帳</option>
                <option value="CVS">超商代碼繳費</option>
                <option value="BARCODE">超商條碼繳費</option>
            </select>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">
                確定
            </button>
        </div>
    </div>
</form>